body {
  overflow: hidden;
  font-family: 'Roboto';
  background-color: #ffffff;
  height: 100vh;
}

.menu {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  padding-top: 0px;
  background-color: #212121;
}

ul {
  padding-inline-start: 0px;
}

ul li {
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

ul li:hover {
  padding-left: 25px;
  background-color: #445665;
}

ul li a {
  display: block;
  color: #fff;
  padding: 20px;
  font-weight: bold;
}

.content {
  margin: 0% 8%;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.group2 {
  margin-top: 30px;
  height: 100%;
  padding: 0px 10%;

}
.group3{
  font-size:'10px';
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 150px;
  border-top: 2px solid rgba(8, 5, 5, 0.1);
}

/* chỉnh điện thoại */
@media only screen and (max-width: 390px) {
  body {
    overflow: auto;
    font-family: 'Roboto';
    background-color: #ffffff;
    height: 100vh;
  }
  .menu {
    
    position: fixed;
    left: 0%;
    top: 0;
    width: 80px;
    padding-top: 0px;
    background-color: #212121;
  }

  ul li:hover {
    padding-left: 5px;
    background-color: #445665;
  }

  ul li a {
    display: block;
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }

  .content {
    margin: 0% 2%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .group2 {
    margin-top: 30px;
    height: 100%;
    padding: 0px 5%;
    flex-direction: column;
    flex-wrap: nowrap
  }
  .group3{
    flex-direction: column
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 80px;
    border-top: 2px solid rgba(8, 5, 5, 0.1);
  }

}